.outercontainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
    width: 80%;
    margin: 0 auto;
  }
  
  .space1, .space2, .spaces3, .space4, .space5, .space6 {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
    font-size: xx-large;
  }
  h1{
    /* align-content: center; */
    justify-content: center;
  }
  
  